/* * {
    box-sizing: border-box;
} */
html {
    box-sizing: border-box;
}
body {
    min-width: 1220px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Poppins', "Arial", sans-serif;
    font-weight: 400;
    color: #AE7C78;
    background: #000000;
    background-color: rgb(243, 230, 221);
}

a {
    color: #AE7C78;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

a:focus,
a:active {
    opacity: 0.2;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.5;
}

.container {
    position: relative;
    max-width: 1286px;
    margin: 0px auto;
    padding: 0px 40px;
    background-color: #ffff;
}

@media (max-width: 1023px) {
    .container {
        width: auto;
        margin: 0;
        padding: 0 27px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 15px;
    }
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-title {
    margin: 0;
    /* font-family: "Yeseva One", "Georgia", serif; */
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    /* color: #000000; */
    color: #a07b50;
    text-align: center;
}

.section-lead {
    margin: 0;
    /* font-family: "Roboto", "Arial", sans-serif; */
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #a07b50;
}

@media (max-width: 767px) {
    .section-lead {
        font-size: 14px;
        line-height: 140%;
    }
}

.header-container {
    padding: 0px 0px;
    background-image: url(./img/maltipoo\ background-header.jpg);
    background-repeat: no-repeat;


}

@media (max-width: 1286px) {
    .header-container {
        background-position: right -150px bottom 0px;
    }
}

@media (max-width: 1023px) {
    .header-container {
        width: auto;
        margin: 0px;
        padding: 0px 27px;

    }
}

@media (max-width: 767px) {
    .header__container {
        padding: 0px 15px;
        background-image: none;
    }
}

.header {
    position: relative;
    width: 100%;
}

.logotip {
    display: flex;
    margin-top: 25px;
    /* padding: 22px 0 21px; */
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
    position: relative;
    justify-content: space-around;
}

.header-logo-mini {

    display: block;

    text-align: left;
}

.header-logo-mini img {
    width: 96px;
    height: 70px;
    padding-top: 6px;
}

.main-nav {
    list-style: none;
    display: block;
    margin: 0px;
    padding: 0px;
}

.main-nav li {

    height: 40px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;
    display: inline-block;
    padding-right: 26px;
}

.main-nav a {
    color: #000000;
    font-style: normal;
    font-display: swap;
    font-size: 15px;
    text-align: right;
    text-decoration: none;
    text-decoration-line: none;
    text-transform: uppercase;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
    line-height: 40px;
}

.main-nav a:hover {
    text-decoration-style: solid;
    color: rgb(138, 138, 138);
}

.phone-top {
    display: block;
    width: 300px;
    /* height: 40px; */
    /* margin: auto; */
    padding: 10px;

}

.phone-top svg {
    fill: #AE7C78;
    width: 30px;
    height: 30px;

    padding-right: 5px;
}

.phone-top a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;


}

.header-content {
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    width: 622px;
    padding-left: 202px;

}

.header-city-content {
    display: block;
    max-width: 330px;
}

.header-city {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    /* color: #AE7C78; */
    color: #a07b50;
    font-size: 16px;
    margin-bottom: 0px;
}

@media screen and (max-width: 320px) {
    .header-city {
        font-size: 14px;
        line-height: 150%;
        text-align: center;
    }
}

.header-title-content {
    display: block;
    width: 622px;

}

.header-title {
    /* font-family: 'Yeseva One'; */
    font-size: 52px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 0;
}

@media screen and (max-width: 320px) {
    .header-title {
        font-size: 52px;
        line-height: 60px;
        align-items: center;
        text-align: center;
    }
}



.header-lead-content {
    display: block;
    width: 383px;
}

.header-lead {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    /* color: rgb(212, 124, 97, 0.96); */
    color: #a07b50;

}

@media screen and (max-width: 320px) {
    .header-lead {
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
    }
}



.header-btn-top {
    box-sizing: border-box;
    display: block;
    margin-top: 66px;
}

.header-btn-top a {
    width: 130px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    border: 0.5px solid rgb(212, 124, 97, 0.96);
    /* background-color: #000000; */
    cursor: pointer;
    text-decoration: none;
    color: rgb(212, 124, 97, 0.96);
    padding: 18px 35px;
}

.header-btn-top a:hover,
.header-btn-top a:focus {
    color: #a07b50;
    border: 1px solid #000000;
}

.header-btn-top a:active {
    opacity: 0.5;
}

@media (max-width: 1023px) {
    .header-btn-top a {
        margin-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .header-btn-top a {
        width: 141px;
        margin-bottom: 0;
        font-size: 12px;
        line-height: 14px;
        padding: 12px;
    }
}

.header-left {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    left: 40px;
    width: 5px;
    margin-right: 0;
}

.vector-left-top {
    display: inline-block;
    width: 0px;
    height: 77.5px;
    border: 0.5px solid #AE7C78;
    margin-bottom: 32px;
}

.header-social {
    display: inline-block;
    align-self: center;
}

.header-social svg,
.header-social img {
    fill: #AE7C78;
    width: 20px;
    height: 20px;
}

.header-social svg:hover,
.header-social svg:focus {
    fill: #a07b50;
}

.social:active {
    opacity: 0.5;
}

.header-social a {

    align-items: center;
    justify-content: center;
}

.social-item-vk {
    padding-bottom: 15px;

}

.social-item-twitter {
    padding-bottom: 15px;
}



.pets-wrapper {
    padding-top: 100px;
    padding-bottom: 21px;
}

@media (max-width: 1023px) {
    .pets-wrapper {
        display: block;
        padding-top: 101px;
    }
}

@media (max-width: 767px) {
    .pets-wrapper {
        padding-top: 53px;
    }
}

.pets-title {
    margin-bottom: 20px;
}

@media (max-width: 1023px) {
    .pets-title {
        margin-bottom: 22px;
    }
}

@media (max-width: 767px) {
    .pets-title {
        margin-bottom: 22px;
    }
}

.pets-lead {
    margin-bottom: 42px;
    max-width: 523px;
    /* text-align: center; */
}

@media (max-width: 1023px) {
    .pets-lead {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 43px;
    }
}

@media (max-width: 767px) {
    .pets-lead {
        margin-bottom: 30px;
        line-height: 144%;
        word-spacing: 1px;
    }
}


.row {
    margin: 10px -16px;
   
}

/* Add padding BETWEEN each column */
.row,
.row>.column {
    padding: 8px;
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    /* height:200px; */
    /* display: none; */
    /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #ddd;
    padding: 10px;

}

.content img {
    height: 300px;
    object-fit: cover;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}











.puppy-wrapper {
    padding-top: 83px;
    padding-bottom: 64px;
}

@media (max-width: 1023px) {
    .puppy-wrapper {
        padding-top: 85px;
        padding-bottom: 56px;
    }
}

@media (max-width: 767px) {
    .puppy-wrapper {
        padding-top: 54px;
        padding-bottom: 30px;
    }
}

.puppy-title {
    margin-bottom: 20px;
}

@media (max-width: 1023px) {
    .puppy-title {
        margin-bottom: 21px;
    }
}

@media (max-width: 767px) {
    .puppy-title {
        max-width: 228px;
        margin-bottom: 24px;
    }
}

.puppy-lead {
    margin-bottom: 26px;
    word-spacing: 2px;
}

@media (max-width: 1023px) {
    .puppy-lead {
        margin-bottom: 59px;
    }
}

@media (max-width: 767px) {
    .puppy-lead {
        word-spacing: 1px;
        margin-bottom: 36px;
    }
}

.swiper {
    width: 700px;
    height: 350px;
}

.mySwiper {
    margin-top: 60px;
    width: 900px;
}

.swiper-slide {

    /* background-color: #1F1C1D; */
    display: flex;

}

.swiper-slide-puppy {
    /* justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;


    display: flex;
    flex-direction: column;
    width: 120px;
    margin-right: 10px;
    padding: 15px; */

    height: 300px;
    /* line-height: 300px; */
    /* text-align: center; */

}

.swiper-slide img {
    width: 60%;
    object-fit: contain;
}

swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 140px !important;
    left: auto;
}

swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 140px !important;
    right: auto;
}


.tooltip-content-list {
    height: 260px;
    width: 300px;
    margin-right: 0px;
    padding: 30px;
    /* background-color: #ddd; */
    background-color: rgb(251, 251, 251);
    padding-top: 60px;
}

.content-text {
    padding: 6px;
}

.content-text span {
    font-weight: 800;
}

.tooltip-item {

    font-size: 16px;

}

/* .tooltip {
    display: none;
    position: absolute;
    background-color: #ddd;
    color: white;
    padding: 0px;
}

.tooltip-content-list {
    text-decoration: none;
}

.tooltip-content li {
    font-size: 10px;

} */

.popular-slide-block {
    max-width: 250px;
    margin-left: 80px;
    margin-top: 26px;
}

/* .popular-slide {
    align-items: flex-start;
    display: none;
} */






.breed-features-wrapper {
    position: relative;
    padding-top: 21px;
    /* padding-bottom: 129px; */
    background-color: rgb(245, 245, 245);
}

@media (max-width: 1023px) {
    .breed-features-wrapper {
        padding-top: 31px;
        padding-bottom: 108px;
    }
}

@media (max-width: 767px) {
    .breed-features-wrapper {
        display: block;
        padding-top: 33px;
        padding-bottom: 60px;
    }
}

.breed-features-title {
    margin-bottom: 20px;
    transform: translateX(10px);
}

@media (max-width: 1023px) {
    .breed-features-title {
        transform: translateX(0);
    }
}

@media (max-width: 767px) {
    .breed-features-title {
        margin-bottom: 25px;
        text-align: center;
        width: 100%;
    }
}

.breed-features-lead {
    width: 735px;
}

@media (max-width: 1023px) {
    .breed-features-lead {
        margin-bottom: 48px;
        min-height: 78px;
    }
}

@media (max-width: 767px) {
    .breed-features-lead {
        margin: 0 auto 26px;
        width: 96%;
    }
}

.breed-features-image {
    display: flex;
}

.breed-features-image img {
    width: 602px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    transform: translateX(33px);
}

@media (max-width: 1023px) {

    .breed-features-image img {
        width: 401px;

    }
}

@media (max-width: 767px) {
    .breed-features-image {
        width: 267px;
        margin: 0 auto;
        margin-bottom: 45px;
        transform: translateX(0);

    }
}

.breed-features-list-container {

    width: 1090px;
    height: 375px;
    position: relative;
    top: -500px;
    z-index: 3;
}

.breed-features-list {
    text-decoration: none;
    list-style: none;
    position: relative;
    width: 1090px;
    height: 376px;
    left: 0px;
    top: 0px;

}

@media (max-width: 767px) {
    .breed-features-list {
        position: static;
        transform: none;
        font-size: 14px;
        line-height: 20px;
        margin: 0 auto;
        width: 255px;
    }
}

.breed-features-list li {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* text-align: right; */
    text-align: center;
    color: rgb(171, 62, 61);
}

.breed-features-item img {
    width: 20px;
    height: 20px;
   
    padding-right: 2px;
}

.breed-features-item-cohabitation {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    top: -40px;
    left: -100px;
    /* top: 343px;
  left: -109px; */
    /* top: 250px; */
    /* left: -409px; */
    /* max-width: 255px; */
    max-width: 300px;
   
}

.breed-features-item-appearance {
    position: relative;
    max-width: 300px;
    top: -10px;
    left: 750px;
    /* max-width: 200px; */
    /* top: 220px;
    right: -690px; */
    
}

.breed-features-item-instruction {
    position: relative;
    /* top: 584px;
  right: -444px; */
    /* top: 300px;
    right: -782px; */
    /* max-width: 201px; */
    max-width: 300px;
    margin-right: 0;
}

.breed-features-item-weight {
    position: relative;
    top: 100px;
    left:-10px;
    /* top: 100px;
    left: 200px; */
    /* top: 209px;
    right: -184px; */
    /* max-width: 160px; */
        max-width: 300px;
    margin-right: 0;
}

.breed-features-item-wool {
    position: relative;
    top: 100px;
    left: 800px;
    /* top: 300px;
    right: 100px; */
    /* max-width: 160px; */
    max-width: 300px;
    margin-right: 0;
}





.advantages-wrapper {
    padding-top: 83px;
    padding-bottom: 64px;
}

@media (max-width: 1023px) {
    .advantages-wrapper {
        padding-top: 85px;
        padding-bottom: 56px;
    }
}

@media (max-width: 767px) {
    .advantages-wrapper {
        padding-top: 54px;
        padding-bottom: 30px;
    }
}

.advantages-title {
    margin-bottom: 20px;
}

@media (max-width: 1023px) {
    .advantages-title {
        margin-bottom: 21px;
    }
}

@media (max-width: 767px) {
    .advantages-title {
        max-width: 228px;
        margin-bottom: 24px;
    }
}

.advantages-lead {
    margin-bottom: 46px;
    word-spacing: 2px;
}

@media (max-width: 1023px) {
    .advantages-lead {
        margin-bottom: 59px;
    }
}

@media (max-width: 767px) {
    .advantages-lead {
        word-spacing: 1px;
        margin-bottom: 36px;
    }
}

.advantages-list {
    display: flex;
}

@media (max-width: 1023px) {
    .advantages-list {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}


.advantages-item {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31%;
    height: 301px;
    background-color: #1F1C1D;
    padding-right: 28px;
}

.advantages-item:last-child {
    padding-right: 0px;
}

.advantages-item:last-of-type {
    margin-right: 0;
}

@media (max-width: 1023px) {
    .advantages-item {
        width: 360px;
        margin-right: 0;
        margin-bottom: 45px;
        padding-top: 17px;
        padding-bottom: 17px;
    }
}

@media (max-width: 767px) {
    .advantages-item {
        min-height: 248px;
        width: 290px;
        margin-bottom: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.advantages-item:hover {
    width: 320px;
    height: 267px;
    background: rosybrown;
}

.advantages-item svg {
    fill: rgb(243, 230, 221);
    stroke-width: 2;
    stroke: #1f1c1d;
    max-width: 100%;
    height: auto;
}

.advantages-item svg:hover {
    fill: #FFFFFF;
}

@media (max-width: 767px) {
    .advantages-link {
        font-size: 14px;
        line-height: 140%;
        padding-top: 39px;
        max-width: 260px;
        min-height: 218px;
    }
}

.advantages-item-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    max-width: 300px;
    /* min-height: 263px; */
    color: #FFFFFF;
    align-items: center;
    margin: 0;
    padding-top: 35px;
}


.care {
   
    /* background-image: url('./svg/bg-care-desktop@1x.jpg');
    background-position: 50% 0px;
    background-repeat: no-repeat;
    background-size: cover; */
}

@media (max-width: 1023px) {
    .care {
        /* background-image: url("./svg/bg-care-tablet@1x.jpg");
        background-size: cover; */
    }
}

@media (max-width: 767px) {
    .care {
        /* background-image: url("./svg/bg-care-tablet@1x.jpg");
        background-size: cover; */
    }
}

.care-wrapper {
    padding-top: 84px;
    padding-bottom: 51px;
   
}

@media (max-width: 1023px) {
    .care-wrapper {
        padding-top: 90px;
        padding-bottom: 79px;
    }
}

@media (max-width: 767px) {
    .care-wrapper {
        padding-top: 54px;
        padding-bottom: 45px;
    }
}

.care-title {
    margin-bottom: 48px;
}

@media (max-width: 1023px) {
    .care-title {
        margin-bottom: 38px;
    }
}

@media (max-width: 767px) {
    .care-title {
        margin-bottom: 33px;
        max-width: 75%;
    }
}

.care-item {
    width: 558px;
    height: 165px;
   margin-left: 40px;
    border: 0.5px solid #AE7C78;
    /* padding-left: 60px; */
    display: inline-block;
    vertical-align: top;
    /* margin-bottom: 4%;
        margin-right: auto; */
    margin-right: 16px;
    margin-bottom: 43px;
    align-items: flex-start;
    /* display: flex; */
}

/* .advantages-image {
    margin-right: 20px;
} */
@media (max-width: 1023px) {
    .care-item {
        display: block;
        width: 78.2%;
        transform: translateX(9px);
        column-count: 1;
        column-gap: 0;
        column-width: auto;
    }
}

@media (max-width: 767px) {
    .care-item {
        width: 100%;
        transform: translateX(0);
    }
}



.care-item img {
    /* fill: #AE7C78; */
    height: 60px;
    width: 60px;
    display: inline;
}

.icon {
    width: 100px;
}

.icon img {
    /* width: 100%; */
    margin: 20px;
    margin-top: 40px;
}

/* .care-link::after { */
/* content: "";
        display: block;
        position: relative; */
/* content: "";
    display: block;
    position: relative;
    top: -131px;
    left: 498px;
    width: 60px;
    height: 165px;
    background-color: #AE7C78;
    border-left: 1px solid #AE7C78;
    background-image: url(./svg/arrow.png);
    background-repeat: no-repeat;
    background-position: center; */
/* transition: background-color 0.3s ease-out;  */
/* top: 0px;
        right: 69px;  */
/* } */
.care-link {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1023px) {
    .care-link {
        padding: 39px 120px 21px 48px;
        min-height: 168px;
    }
}

@media (max-width: 767px) {
    .care-link {
        padding: 21px 18% 18px 24px;
        min-height: 152px;
    }

    /* .care-link::after {
        width: 16%;
    } */
}

.care-link-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    padding-bottom: 2px;
    color: #AE7C78;
}

@media (max-width: 767px) {
    .care-link-title {
        font-size: 18px;
        line-height: 21px;
    }
}

.care-link-content {
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    width: 420px;
    color: #000000;
}

@media (max-width: 767px) {
    .care-link-content {
        line-height: 20px;
    }
}



.care-wool-popup,
.care-earsandeyes-popup,
.care-claws-popup,
.care-food-popup,
.care-walk-popup,
.care-training-popup {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: none;
}

.care-popup-visible {
    display: block;
}

.care-popup-text-container {

    height: 100%;
    display: flex;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 50%;
    justify-content: center;
    align-items: center;
}

.care-popup-text {
    max-height:700px;
    max-width: 1200px;
    color:#ffff;
    font-size: 18px;
    line-height:28px;
 

}

.care-popup-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
}

.care-popup-close-button:hover {
    background-color: rgba(255, 253, 253, 0.1);
}

.care-popup-close-button svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: #fff;

}


.team {
    /* background-color: #151313; */
}

.team-item {
    justify-content: center;
}

.team-wrapper-outer {
    display: flex;
    padding: 2px 90px 2px 90px;
}

.team-wrapper-outer img {
    width: 360px;
    height: auto;
    /* height: 360px; */
}

@media (max-width: 1023px) {
    .team-wrapper-outer {
        position: relative;
        padding-right: 27px;
        padding-left: 0;
        width: auto;
    }

    .team-wrapper-outer img {
        width: 207px;
        height: 208px;
    }
}

@media (max-width: 767px) {
    .team-wrapper-outer {
        flex-direction: column;
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .team-wrapper-outer img {
        width: 166px;
        height: 166px;
    }
}

.team-wrapper {
    display: block;
    padding-top: 83px;
    padding-bottom: 22px;
}

@media (max-width: 1023px) {
    .team-wrapper {
        padding-top: 84px;
        padding-bottom: 88px;
    }
}

@media (max-width: 767px) {
    .team-rapper {
        padding-top: 55px;
        padding-bottom: 58px;
    }
}

.team-title {
    margin-bottom: 19px;
}

@media (max-width: 1023px) {
    .team-title {
        margin-bottom: 22px;
    }
}

@media (max-width: 767px) {
    .team-title {
        margin-bottom: 24px;
    }
}

.team-lead {
    margin-bottom: 23px;
    max-width: 505px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1023px) {
    .team-lead {
        margin-bottom: 24px;
    }
}

@media (max-width: 767px) {
    .team-lead {
        margin-bottom: 35px;
        max-width: 90%;
    }
}

.team-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
    margin-bottom: 72px;
}

@media (max-width: 1023px) {
    .team-list {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .team-list {
        width: 100%;
        transform: translateX(0);
    }
}

.team-slider {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: auto;

}

@media (max-width: 1023px) {
    .team-slider {
        position: relative;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 105px;
    }
}

@media (max-width: 767px) {
    .team-slider {
        width: 100%;
        transform: translateX(0);
        padding-bottom: 0;
    }
}

.blockquote {
    display: block;
}

.team-item-title {
    display: block;
    margin: 0 0 6px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #A07B50;
    padding-bottom: 2px;


}

@media (max-width: 767px) {
    .team-item-title {
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 4px;
    }
}

.team-item-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #A07B50;
    padding-left: 0px;
    margin-top: 0;
}

@media (max-width: 1023px) {
    .team-item-profession {
        margin: 0 0 24px;
    }
}

@media (max-width: 767px) {
    .team-item-profession {
        font-size: 14px;
        line-height: 135%;
        text-align: center;
        margin-bottom: 16px;
    }
}

.swiper-team-content p {

    line-height: 25px;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;

    width: 400px;
    color: rgba(255, 255, 255, 0.72);
    /* padding-bottom: 44px; */
    margin: 0 0 46px;
}

.swiper-team-content {
    width: 50%;
    margin-left: -9%;
    padding: 68px 98px 74px;
    border: 22px solid #151313;
    border-right-width: 34px;
    border-left-width: 22px;
    background-color: #1f1c1d;
    outline: 1px solid rgba(160, 123, 80, 0.43);
}

@media (max-width: 1023px) {
    .swiper-team-content {
        width: 58%;
        padding: 70px 95px 75px 105px;
        margin-left: auto;
        margin-right: auto;
        border: 22px solid #151313;
        border-right-width: 22px;
        border-left-width: 22px;
    }
}

@media (max-width: 767px) {
    .swiper-team-content {
        width: auto;
        margin-top: -60px;
        padding: 84px 10px 16px 13px;
        border: none;
        outline: none;
    }
}

.team-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}


.team-social {
    display: block;
}

@media (max-width: 767px) {
    .team-social {
        justify-content: center;
    }
}

.team-social a {
    width: 28px;
    height: 28px;

    transition: border-color 0.3s ease-out;
    margin-right: 17px;
    align-items: center;

}


.team-social a:hover,
.team-social a:focus {
    border-color: #ffffff;
}

.team-social a:hover svg,
.team-social a:focus svg {
    fill: #ffffff;
}

.team-social a:last-child {

    margin-right: 0px;
}

.team-social svg {
    fill: #ffffff;
    /* padding: 10px; */

}

.team-img-wrapper {
    /* width: 100%; */
    height: 100%;
    z-index: 1;
    transition: opacity 1s;
    width: 50%;
    /* margin-left: 55px; */
}

.team-img-wrappe img{width: 360px;
    height: auto;}
@media (max-width: 1023px) {
    .team-img-wrapper {
        padding-left: 0;
    }

    .team-img-wrapper img {
        position: absolute;
        bottom: -95px;
        right: 102px;
    }
}

@media (max-width: 767px) {
    .team-img-wrapper img {
        display: block;
        position: relative;
        bottom: auto;
        right: auto;
        width: 100%;
        height: auto;
        line-height: 0;
    }
}

@media (max-width: 1023px) {
    .team-img-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 767px) {
    .team-img-wrapper {
        position: relative;
        top: 0;
        bottom: auto;
        right: auto;
        width: 43%;
        max-width: 180px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.faq {
    /* background-color: #1f1c1d; */
}

.faq-wrapper {
    padding-top: 72px;
    padding-bottom: 30px;
}

@media (max-width: 1023px) {
    .faq-wrapper {
        padding-top: 137px;
        padding-bottom: 31px;
    }
}

@media (max-width: 767px) {
    .faq-wrapper {
        padding-top: 53px;
        padding-bottom: 9px;
    }
}

.accordion-block {
    padding-top: 20px;
    padding-left: 313px;
    text-align: left;
}

.faq-item-wrapper {
    width: 793px;
    margin-bottom: 18px;
}

@media (max-width: 1023px) {
    .faq-item-wrapper {
        width: 360px;

    }
}

@media (max-width: 767px) {
    .faq-item-wrapper input {

        width: 290px;

    }
}

@media (max-width: 1023px) {
    .accordion-block {
        padding-left: 82px;
        margin-bottom: 23px;
    }

    .accordion-block::before {
        top: 9px;
        left: 1px;
        font-size: 50px;
        line-height: 59px;
    }
}

@media (max-width: 767px) {
    .accordion-block {
        margin-bottom: 30px;
        padding-left: 0;
    }

    .accordion-block::before {
        display: none;
    }
}

.faq-title {
    margin-bottom: 20px;
}

@media (max-width: 1023px) {
    .faq-title {
        margin-bottom: 19px;
        transform: translateX(-5px);
    }
}

@media (max-width: 767px) {
    .faq-title {
        margin-bottom: 24px;
        transform: translateX(0);
    }
}

.faq-lead {
    margin-bottom: 54px;
}

@media (max-width: 1023px) {
    .faq-lead {
        margin-bottom: 52px;
        word-spacing: 1px;
    }
}

@media (max-width: 767px) {
    .faq-lead {
        max-width: 190px;
        margin-bottom: 36px;
    }
}

.faq-lead {
    margin-bottom: 20px;
}

.accordion-block label {
    padding-top: 46px;
    padding-left: 42px;
    padding-bottom: 46px;
    position: relative;
    z-index: 18;
    display: block;
    width: 793px;
    cursor: pointer;
    border: 0.5px solid rgba(160, 123, 80, 0.41);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #DDD0C3;
  box-sizing: border-box;
}

.accordion-block label::before {
    /* counter-increment: my-counter;
    content: "0"counter(faq-counter); */
    /* counter-increment: my-counter;
content: counter(list) " "; */
    /* counter-increment: example-counter;
content: "01" counter(list) ; */
    /* content: "0"counter(faq-counter); */
    counter-reset: tidbit-counter 0;
    counter-increment: tidbit-counter;
    content: counter(tidbit-counter) "0 ";
    position: absolute;
    left: -100px;
    top: 16px;
    font-weight: bold;
    font-size: 70px;
    line-height: 82px;
    color: #a07b50;
}

.accordion-block label:after,
.accordion-block input:checked+label:hover:after {
    border: 0.5px solid rgba(160, 123, 80, 0.41);
    content: '';
    position: absolute;
    width: 104px;
    height: 110px;
    right: 0px;
    top: 0px;
    background: transparent url(./svg/plus.svg) no-repeat center;
}

.accordion-block input:checked+label:hover:after {
    background-image: url(./svg/minus.png);
    background-color: #A07B50;

}

@media (max-width: 767px) {
    .accordion-block label::after {
        width: 14.3%;
    }
}

.accordion-block input {
    display: none;
}

.accordion-block article {
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.accordion-block article p {
    font-weight: 300;
    font-size: 16px;
    line-height: 154%;
    color: #DDD0C3;
    padding-top: 40px;
    padding-left: 43px;

}

.accordion-block input:checked~article {
    transition: height 0.4s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(167, 162, 162, 0.3);
}

.accordion-block input:checked~article.text-block-1 {
    width: 793px;
    height: 299px;
}

.accordion-block input:checked~article.text-block-2 {
    width: 793px;
    height: 299px;
}

.accordion-block input:checked~article.text-block-3 {
    width: 793px;
    height: 299px;
}

.accordion-block input:checked~article.ac-large {
    height: 230px;
}

.accordion-block input:checked~article.text-block-4 {
    width: 793px;
    height: 380px;
}

@media (max-width: 1023px) {

    .accordion-block input:checked~article.text-block-3,
    .accordion-block input:checked~article.text-block-4,
    .accordion-block input:checked~article.text-block-2,
    .accordion-block input:checked~article.text-block-1 {
        width: 553px;
    }
}

@media (max-width: 767px) {

    .accordion-block input:checked~article.text-block-3,
    .accordion-block input:checked~article.text-block-4,
    .accordion-block input:checked~article.text-block-2,
    .accordion-block input:checked~article.text-block-1 {
        width: 248px;
    }
}











.reviews-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    grid-template-columns: 314px 314px; */
}

.reviews-item {
    width: 300px;
    height: 314px;
    margin: 0px;
    position: relative;
}

.reviews-item img {
    width: 300px;
    height: 314px;
    object-fit: cover;
}


.reviews-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    /* display: grid;
    grid-template-columns: 314px 314px; */
}

.reviews-item {
    width: 300px;
    height: 314px;
    margin: 0px;
    position: relative;
}

.reviews-item img {
    width: 300px;
    height: 314px;
    object-fit: cover;
}
.reviews-item-padding{
    padding:40px;
}
.reviews-item-blockquote{
    text-align: left;
margin: 0;
}



.title-name{
    font-size: 36px;
    font-style: norma;
    font-weight: 700;
    margin: 16px 0;
}

.reviews-item-blockquote p{
    font-size: 16px;
}
.reviews-social{
margin-top: 40px;}
.reviews-social svg{
fill: #ffffff;
}
.reviews-social a{
    margin-left: 11px;
cursor: pointer;}
.block-two {
    background-color: rgb(130, 124, 72);
    color: #ffff;
}
.reviews-item-slogan
{
    padding: 30px 30px 90px  30px;

}
.reviews-item-slogan p { font-size: 40px;
    font-weight: 700;
line-height:50px;}


.block-four {
    background-color: rgb(87, 85, 122);
    color: #ffff;
}



.block-six {
    height: 314px;
    background-color: rgb(197, 218, 220);
    color: #ffff;
}

.block-eight {
    height: 314px;
    background-color: rgb(177, 126, 105);
    color: #ffff;
}





.footer {
    /* background-color: #313537; */

}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 72.7%;
    vertical-align: middle;
}

@media (max-width: 1023px) {
    .footer-wrapper {
        width: 93%;
        justify-content: space-between;

    }
}

@media (max-width: 767px) {
    .footer-wrapper {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;

    }
}

.footer-wrapper-contact {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.footer-logo a {
    display: flex;
    height: 50px;
    text-decoration: none;
}

.footer-social img {
    border: 1px solid #000000;
    border-radius: 10%;
}

@media (max-width: 1023px) {
    .footer-wrapper-logo {
        display: none;
    }
}

@media (max-width: 767px) {
    .footer-wrapper-logo {
        display: block;
    }

    .footer-wrapper-logo img {
        width: 58px;
        height: 27px;
    }
}

.footer-wrapper-logo img {
    object-fit: contain;
    width: 80px;

    padding-top: 40px;
}

.footer-wrapper-logo {

    display: block;
    height: 150px;
}




.footer-social {
    text-align: right;
    align-self: center;
    /* width: 350px; */
    padding: 15px;
    padding-left: 0;

}

.footer-wrapper-title span {
    font-weight: 700;
    color: #000;
}

.footer-social a {

    margin-left: 11px;
    text-decoration: none;
}

.footer-social svg {

}

.footer-social a:first-child{

    margin-left: 0px;
}


.footer-menu {

    padding: 15px;
    padding-left: 0;
    position: relative;
    display: block;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    display: block;
    box-sizing: border-box;

}

.footer-menu li {
    margin-bottom: 15px;
    display: list-item;

}

.footer-menu a {
    color: #000;
}

.footer-wrapper-adress p {
    color: #000;
}











#back-top {
    position: fixed;
    right: 4px;
    bottom: 10px;
    margin-left: 20px;
    z-index: 499;
    margin-block-end: 20px;
    margin-bottom: 20px;
    margin-inline-start: 20px;
}


#back-top p {
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 1.35;

}

#back-top a {
    width: 50px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    transition: 1s;
}

#back-top span#button {
    background-color: #75c47d;
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 7px;
    background-color: #ddd;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(./svg/arrowup.svg);
    opacity: .8;
    border-radius: 8px;
    transition: 1s;
}




.social-box-conteiner
{ position: fixed;
    width: 50px;
    height: 60px;
    right: 4px;
    bottom: 100px;
    margin-left: 20px;
    z-index: 499;
    margin-block-end: 20px;
    margin-bottom: 20px;
    margin-inline-start: 20px;
}


.social-box {
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-box svg{
    width: 40px;
    height: 40px;
    /* fill: rgb(177, 126, 105); */
}

.social-box  a {
    display: block;
    /* height: 50px;
    width: 60px; */
    /* background: #ec684c;
    padding: 6px 2px 6px 0px; */
    background-color: #ddd;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;}


@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Poppins"),
        local("Poppins"),
        url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
    format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Poppins"),
        local("Poppins"),
        url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
    format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}